.DonorChart {
    background-color: white;
    outline-width: thin;
    outline: black;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.FilterArea {
    padding-top: 20px;
    padding-bottom: 20px;
}

.FilterItem {
    horiz-align: left;
    vertical-align: center;
    text-align: left;
    margin: 2px;
    padding: 2px;
}

.DatePicker {
    font-size: small;
}